body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, 1fr);
  justify-items: center;
  align-items: center;
}

button {
  width: 200px;
  height: 60px;
  background-color: transparent;
  font-size: 20px;
  transition: all 0.6s ease;
  cursor: pointer;
}

/* first button  */
.btn--1 {
  border: 3px solid #272727;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: yellow;
  width: 120%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: all 0.6s;
}

.btn--1:hover:before {
  transform: rotate(0);
}

/* second button  */
.btn--2 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: translateX(-100%);
  transition: all 0.6s;
}

.btn--2:hover {
  color: #fff;
}

.btn--2:hover:before {
  transform: translateX(0%);
}

/* third button  */
.btn--3 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--3:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 1s;
}

.btn--3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateY(90deg);
  transition: all 1s;
}

.btn--3:hover {
  color: #fff;
}

.btn--3:hover:before {
  transform: rotateX(0);
}

.btn--3:hover:after {
  transform: rotateY(0);
}

/* fourth button  */
.btn--4 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  overflow: hidden;
  backface-visibility: hidden;
  letter-spacing: -1px;
  width: auto;
  height: auto;
  padding: 20px 40px;
}

.btn--4:hover {
  font-weight: bold;
  letter-spacing: 3px;
  /* transform: scale(1.1); */
  border: 4px solid #360f44;
}

/* fifth button  */
.btn--5 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--5:before {
  content: "Yeah!";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: translateY(-100%);
  transition: all 0.6s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--5:hover:before {
  transform: translateY(0%);
}

/* sixth button  */
.btn--6 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--6:before {
  content: "";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 30px;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.6s;
}

.btn--6:hover {
  background-color: red;
}

.btn--6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

/* seventh button  */
.btn--7 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  color: #fff;
  overflow: hidden;
}

.btn--7:before {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--7:after {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  transform: translate(-100%, 100%);
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--7:hover:after {
  transform: translate(0, 0);
}
.btn--7:hover:before {
  transform: translate(100%, -100%);
}

/* eighth button  */

.perspective {
  perspective: 500px;
}

.btn--8 {
  border: 3px solid #360f44;
  position: relative;
  z-index: 1;
  color: #360f44;
  overflow: hidden;
}

.btn--8:before {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 100%;
  transform: translateZ(550px);
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 10;
  color: #fff;
}

.btn--8:hover:before {
  transform: translateZ(0);
  opacity: 1;
}

/* ninth button  */
.btn--9 {
  border: 3px solid #360f44;
  position: relative;
  color: #360f44;
  overflow: hidden;
}

.btn--9:before {
  content: "";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #360f44;
  width: 100%;
  height: 0%;
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  color: #fff;
  border-radius: 0 0 50% 50%;
}

.btn--9:hover {
  color: #fff;
}

.btn--9:hover:before {
  height: 200%;
}

/* tenth button  */
.btn--10 {
  border: none;
  position: relative;
  color: #fff;
  background-color: #360f44;
  /* overflow: hidden; */
}

.btn--10:before {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: greenyellow;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: rotateX(270deg);
  transform-origin: top;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}
.btn--10:after {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: red;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0.25s;
  transform: rotateX(270deg);
  transform-origin: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 3;
}

.btn--10:hover:before {
  transform: rotateX(0);
}

.btn--10:hover:after {
  transform: rotateX(0);
}

/* 11th button  */
/* .box {
  background-color: #696969;
  align-self: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.btn--11 {
  border: 2px solid #ff0000;
  position: relative;
  color: #fff;
  color: transparent;
  /* overflow: hidden; */
}

.btn--11:before {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: -100%;
  top: 0;
  background-color: #363636;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: rotateY(360deg) scale(0);
  opacity: 0;
  transform-origin: top;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}
.btn--11:after {
  content: "Hover me";
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  background-color: #363636;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: rotateY(0) scale(1);
  opacity: 1;
  transform-origin: top;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}

.btn--11:hover:after {
  left: 100%;
  transform: rotateY(-360deg) scale(0);
  opacity: 0;
}

.btn--11:hover:before {
  left: 0;
  transform: rotateY(0) scale(1);
  opacity: 1;
}
