body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  font-size: 22px;
  color: #3d3d3d;
  display: block;
  padding: 10px 15px;
  position: relative;
}

/* //menu 1 */

.menu--1 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

.menu--1 a:hover::before {
  transform: scaleX(1);
}

.menu--1 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right;
}

.menu--1 a:hover::after {
  transform: scaleX(1);
}

/* menu 2 */
.menu--2 a {
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 20px;
  position: relative;
  transition: all 0.5s;
}

.menu--2 a:hover {
  background-color: #e91e63;
  color: #fff;
}

.menu--2 a::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #e91e63;
  border-width: 0 0 3px 3px;
  transition: all 0.3s;
  transform-origin: right;
  opacity: 0;
}

.menu--2 a:hover::before {
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.menu--2 a::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #e91e63;
  border-width: 3px 3px 0 0;
  transition: all 0.3s;
  transform-origin: right;
  opacity: 0;
}

.menu--2 a:hover::after {
  top: -8px;
  right: -8px;
  opacity: 1;
}

/* menu 3 */

.menu--3 a {
  /* margin: 0 10px; */
  overflow: hidden;
  z-index: 1;
}

.menu--3 a:hover {
  color: #fff;
}

.menu--3 a::before,
.menu--3 a::after,
.menu--3 a span::before,
.menu--3 a span::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #3d3d3d;
  top: -100%;
  transition: all 0.3s;
  z-index: -1;
}

.menu--3 a::before {
  left: 0;
}

.menu--3 a::after {
  left: 25%;
}

.menu--3 a span::before {
  left: 50%;
}
.menu--3 a span::after {
  left: 75%;
}

/* hover */

.menu--3 a:hover::before {
  top: 0;
}

.menu--3 a:hover::after {
  top: 0;
  transition-delay: 0.1s;
}

.menu--3 a:hover span::before {
  top: 0;
  transition-delay: 0.2s;
}
.menu--3 a:hover span::after {
  top: 0;
  transition-delay: 0.3s;
}

/* menu 4 */

.menu--4 a {
  /* margin: 0 10px; */
  overflow: hidden;
  z-index: 1;
}

.menu--4 a:hover {
  color: #fff;
  transition: all .3s;
}

.menu--4 a::before,
.menu--4 a::after,
.menu--4 a span::before,
.menu--4 a span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: #3d3d3d;
  top: 0;
  left: 0;
  transform: scaleX(0);
  z-index: -1;
  transition: all 0.5s;
  transform-origin: left;
}

.menu--4 a::after {
  top: 25%;
  transition-delay: 0.15s;
}

.menu--4 a span::before {
  top: 50%;
  transition-delay: 0.3s;
}
.menu--4 a span::after {
  top: 75%;
  transition-delay: 0.45s;
}

/* hover */
.menu--4 a:hover::before,
.menu--4 a:hover::after,
.menu--4 a:hover span::before,
.menu--4 a:hover span::after {
  transform: scaleX(1);
}
